
body {
    background-color: rgb(163, 251, 222);
}

header {
    color: chartreuse;
}

p {
    border: 2px solid rgb(87, 46, 0);
    border-radius: 14px;
	background-color: rgb(165, 87, 43);
    color: rgb(0, 47, 47);
    margin: 2px;
    padding: 6px; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: tomato;
  }
  
  .flex-container > div {
    background-color: teal;
    width: 105px;
    height: 40px;
    margin: 2px;
    text-align: center;
    line-height: normal;
    font-size: 14px;
  }

  /* .stats {
    border: 2px solid darkslategray;
    border-radius: 14px;
	background-color: seagreen;
    color: black;
    margin: 2px;
    padding: 6px;
}
.statCont {
    border: 2px solid red;
    border-radius: 14px;
	background-color: salmon;
    color: rgb(0, 47, 47);
    margin: 2px;
    padding: 6px;
} */